{% extends "base.html" %}

{% block title %}
    Projects
{% endblock title %}
{% block content %}
    <main>
        <div>
            <p>
                <a href="{% url "create_project" %}">Create a new project</a>
            </p>
            <h1>My Projects</h1>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of tasks</th>
                    </tr>
                </thead>
                {% for project in projects %}
                    <tbody>
                        <tr>
                            <td>
                                <a href="{% url "show_project" project.id %}">{{ project.name }}</a>
                            </td>
                            <td>{{ project.tasks.all|length }}</td>
                        </tr>
                        <tbody>
                        </table>
                    {% empty %}
                        <p>You are not assigned to any projects</p>
                    {% endfor %}
                </div>
            </main>
        {% endblock content %}
